<a href="{{ conf.repoUrl }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ app.request.baseUrl }}/img/forkme.png" alt="Fork me on GitHub"></a>

<hr/>
<div class="row">

<div class="col-md-12">

<p>
{{ 'madewith' | trans }} <a href="http://silex.sensiolabs.org/">Silex</a>, 
<a href="http://getbootstrap.com/">Bootstrap</a>, 
<a href="https://jquery.com/">jQuery</a>, 
{{ 'datafrom' | trans }} <a href="https://launchpad.net/ispell-lt">Ispell-LT</a>.
[<a href="{{ conf.contactUrl }}" title="{{ 'Contact' | trans }}">{{ 'Contact' | trans }}</a>]
</p>
</div>
</div>
