<!DOCTYPE html>
<html>
<head>
<title>{{ title | trans }}</title>
{% include 'headIncludes.twig' %}

</head>
<body>
    {% include 'facebookInit.twig' %}
    <div class="jumbotron">
      <div class="container">
        <p class="text-right">
{% for lang, data in conf.images %}
    <a href="lang/{{ lang }}">{{ lang }}</a>&nbsp;
{% endfor %}
        </p>
        <div class="page-header"><h1>{{ title | trans }}</h1></div>
        <p>{{ introduction | trans }}</p>

        <p>
            <a class="btn btn-primary btn-lg" href="numbers">{{ 'LTNumbersMenu' | trans }} &raquo;</a>
            <a class="btn btn-primary btn-lg" href="nouns">{{ 'LTNounsMenu' | trans }} &raquo;</a>
        </p>

      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        {% include 'footer.twig' with {'conf': conf} %}
    </div>
    {% include 'footIncludes.twig' %}
</body>
</html>
