<!DOCTYPE html>
<html>
<head>
    <title>{{ title | trans }}</title>
    {% include 'headIncludes.twig' %}

    <!-- jQuery UI -->
    <script src="{{ app.request.baseUrl }}/vendor/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/vendor/jquery-ui/themes/cupertino/jquery-ui.min.css">
    
    <!-- Preventing too long lists of autocomplete results -->
    <style>
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    </style>
</head>
<body>
    <div class="container">
        {% include 'navbar.twig' with {'name': title} %}
        {% include 'langMenu.twig' with {'images': conf.images} %}
        <div class="page-header"><h1>{{ title | trans }}</h1></div>
        <form method="get" action="{{ app.request.baseUrl }}/nouns" id="searchform">
            <input id="query" type="text" name="searchString" value="{{ name }}" /><input type="submit" value="{{ 'Search' | trans }}" />
        </form>
{% if result.declensions == "" %}
    <p></p>
{% else %}
{% if result.status is constant('LtWords\\LtNouns\\LtNouns::NOUN_NOT_FOUND') %}
<hr/>
<div class="alert alert-warning"><p>{{ 'Noun not found in the internal dictionary' | trans }}. <a href="http://www.lietuviu-anglu.com/"><b>{{ 'Try somewhere else' | trans }}</b></a></p></div>
{% elseif result.status is constant('LtWords\\LtNouns\\LtNouns::NOUN_DIFFERENT') %}
<hr/>
<div class="alert alert-warning"><p>{{ 'You probably meant' | trans }} <a href="http://www.lietuviu-anglu.com/?word={{ result.word }}"><b>{{ result.word }}</b></a></p></div>
{% endif %}

        <div class="row">
        <div class="col-md-4">
        <h2>{{ 'Singular' | trans }}</h2>
        <table class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr class="info"><th>{{ 'Case' | trans }}</th><th>{{ 'Form' | trans }}</th></tr>
            </thead>
            <tbody>
            <tr class="success"><td>{{ 'Kas?' | trans }}</td><td><b>{{ result.declensions.singular.kas }}</b></td></tr>
            <tr class="success"><td>{{ 'Ko?' | trans }}</td><td><b>{{ result.declensions.singular.ko }}</b></td></tr>
            <tr class="success"><td>{{ 'Ką?' | trans }}</td><td><b>{{ result.declensions.singular.ką }}</b></td></tr>
            <tr class="success"><td>{{ 'Kam?' | trans }}</td><td><b>{{ result.declensions.singular.kam }}</b></td></tr>
            <tr class="success"><td>{{ 'Kame?' | trans }}</td><td><b>{{ result.declensions.singular.kame }}</b></td></tr>
            <tr class="success"><td>{{ 'Kuo?' | trans }}</td><td><b>{{ result.declensions.singular.kuo }}</b></td></tr>
            <tr class="success"><td>{{ 'O!' | trans }}</td><td><b>{{ result.declensions.singular.o }}</b></td></tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-4">
        <h2>{{ 'Plural' | trans }}</h2>
        <table class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr class="info"><th>{{ 'Case' | trans }}</th><th>{{ 'Form' | trans }}</th></tr>
            </thead>
            <tbody>
            <tr class="success"><td>{{ 'Kas?' | trans }}</td><td><b>{{ result.declensions.plural.kas }}</b></td></tr>
            <tr class="success"><td>{{ 'Ko?' | trans }}</td><td><b>{{ result.declensions.plural.ko }}</b></td></tr>
            <tr class="success"><td>{{ 'Ką?' | trans }}</td><td><b>{{ result.declensions.plural.ką }}</b></td></tr>
            <tr class="success"><td>{{ 'Kam?' | trans }}</td><td><b>{{ result.declensions.plural.kam }}</b></td></tr>
            <tr class="success"><td>{{ 'Kame?' | trans }}</td><td><b>{{ result.declensions.plural.kame }}</b></td></tr>
            <tr class="success"><td>{{ 'Kuo?' | trans }}</td><td><b>{{ result.declensions.plural.kuo }}</b></td></tr>
            <tr class="success"><td>{{ 'O!' | trans }}</td><td><b>{{ result.declensions.plural.o }}</b></td></tr>
            </tbody>
        </table>
        </div>
        </div>
{% endif %}
    <div class="alert alert-warning" style="display:none;">
        <p id="ajaxAlerts"></p>
    </div>
    <div class="row" id="ajaxResultTable" style="display:none;">
        <div class="col-md-4">
        <h2>{{ 'Singular' | trans }}</h2>
        <table id="table_singular" class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr class="info"><th>{{ 'Case' | trans }}</th><th>{{ 'Form' | trans }}</th></tr>
            </thead>
            <tbody>
            <tr class="success"><td>{{ 'Kas?' | trans }}</td><td id="singular_kas"></td></tr>
            <tr class="success"><td>{{ 'Ko?' | trans }}</td><td id="singular_ko"></td></tr>
            <tr class="success"><td>{{ 'Ką?' | trans }}</td><td id="singular_ką"></td></tr>
            <tr class="success"><td>{{ 'Kam?' | trans }}</td><td id="singular_kam"></td></tr>
            <tr class="success"><td>{{ 'Kame?' | trans }}</td><td id="singular_kame"></td></tr>
            <tr class="success"><td>{{ 'Kuo?' | trans }}</td><td id="singular_kuo"></td></tr>
            <tr class="success"><td>{{ 'O!' | trans }}</td><td id="singular_o"></td></tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-4">
        <h2>{{ 'Plural' | trans }}</h2>
        <table id="table_plural" class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr class="info"><th>{{ 'Case' | trans }}</th><th>{{ 'Form' | trans }}</th></tr>
            </thead>
            <tbody>
            <tr class="success"><td>{{ 'Kas?' | trans }}</td><td id="plural_kas"></td></tr>
            <tr class="success"><td>{{ 'Ko?' | trans }}</td><td id="plural_ko"></td></tr>
            <tr class="success"><td>{{ 'Ką?' | trans }}</td><td id="plural_ką"></td></tr>
            <tr class="success"><td>{{ 'Kam?' | trans }}</td><td id="plural_kam"></td></tr>
            <tr class="success"><td>{{ 'Kame?' | trans }}</td><td id="plural_kame"></td></tr>
            <tr class="success"><td>{{ 'Kuo?' | trans }}</td><td id="plural_kuo"></td></tr>
            <tr class="success"><td>{{ 'O!' | trans }}</td><td id="plural_o"></td></tr>
            </tbody>
        </table>
        </div>
    </div>
    {% include 'footer.twig' with {'conf': conf} %}
    </div>

    <script type="text/javascript">
        $("#query").autocomplete({
            source: "{{ app.request.baseUrl }}/suggestnouns",
            minLength: 3,
            source: function(request, response) {
                    $.getJSON("{{ app.request.baseUrl }}/suggestnouns", {
                        query: request.term,
                    }, function(data) {
                        response(data);
                    });
                },
            select: function( event, ui ) {
                if (ui.item) {
                    $('#query').val(ui.item.value);
                }
                $('#searchform').submit();
            },
         });
    </script>
    
    <script type="text/javascript">
    $(document).ready(function() {
      $('#searchform').submit(function() {

        var url = "{{ app.request.baseUrl }}/nouns";
    
        //alert($('#searchString').val());
        $.ajax({
           type: "GET",
           url: url,
           data: {
               "searchString": $('#query').val(),
               "format": "json"
           },
           success: function(data)
           {
               $('#ajaxAlerts').parent().hide();
               
               if (!data.declensions) {
                   return;
               }
               if (data.status == {{ constant('LtWords\\LtNouns\\LtNouns::NOUN_NOT_FOUND') }}) {
                   $('#ajaxAlerts').empty()
                     .append("{{ 'Noun not found in the internal dictionary' | trans }}. <a href=\"http://www.lietuviu-anglu.com/\"><b>{{ 'Try somewhere else' | trans }}</b></a></p>")
                     .parent().show();
               } else if (data.status == {{ constant('LtWords\\LtNouns\\LtNouns::NOUN_DIFFERENT') }}) {
                   $('#ajaxAlerts').empty()
                       .append(
                           "<p>{{ 'You probably meant' | trans }} <a href=\"http://www.lietuviu-anglu.com/?word=" + data.word +"\"><b>" + data.word + "</b></a></p>"
                       )
                       .parent().show();
               }
               $.each(data.declensions.singular, function(k, v) {
                   //alert(k + ' - ' + v);
                   $('#singular_' + k).empty();
                   $('#singular_' + k).append(v);
               });
               $.each(data.declensions.plural, function(k, v) {
                   //alert(k + ' - ' + v);
                   $('#plural_' + k).empty();
                   $('#plural_' + k).append(v);
               });
              
               $('#ajaxResultTable').show();
           }
        });

        return false; // avoid to execute the actual submit of the form.
      });
    });
    </script>

</body>
</html>
