<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header"><h1>{{ title }}</h1></div>
            <form method="get" action="#">
                <input type="text" name="searchString" value="{{ name }}" /><input type="submit" value="Go!" />
            </form>
{% if result == "" %}
        <p></p>
{% else %}
        <div class="row">
        <div class="col-md-6">
        <h2>Singular</h2>
        <table class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr class="info"><th>Case</th><th>Form</th></tr>
            </thead>
            <tbody>
            <tr class="success"><td>Kas?</td><td><b>{{ result.singular.kas }}</b></td></tr>
            <tr class="success"><td>Ko?</td><td><b>{{ result.singular.ko }}</b></td></tr>
            <tr class="success"><td>Ką?</td><td><b>{{ result.singular.ką }}</b></td></tr>
            <tr class="success"><td>Kam?</td><td><b>{{ result.singular.kam }}</b></td></tr>
            <tr class="success"><td>Kame?</td><td><b>{{ result.singular.kame }}</b></td></tr>
            <tr class="success"><td>Kuo?</td><td><b>{{ result.singular.kuo }}</b></td></tr>
            <tr class="success"><td>O!</td><td><b>{{ result.singular.o }}</b></td></tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-6">
        <h2>Plural</h2>
        <table class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr class="info"><th>Case</th><th>Form</th></tr>
            </thead>
            <tbody>
            <tr class="success"><td>Kas?</td><td><b>{{ result.plural.kas }}</b></td></tr>
            <tr class="success"><td>Ko?</td><td><b>{{ result.plural.ko }}</b></td></tr>
            <tr class="success"><td>Ką?</td><td><b>{{ result.plural.ką }}</b></td></tr>
            <tr class="success"><td>Kam?</td><td><b>{{ result.plural.kam }}</b></td></tr>
            <tr class="success"><td>Kame?</td><td><b>{{ result.plural.kame }}</b></td></tr>
            <tr class="success"><td>Kuo?</td><td><b>{{ result.plural.kuo }}</b></td></tr>
            <tr class="success"><td>O!</td><td><b>{{ result.plural.o }}</b></td></tr>
            </tbody>
        </table>
        </div>
        </div>
{% endif %}
    </div>
</body>
</html>
