<!DOCTYPE html>
<html>
<head>
    <title>{{ title | trans }}</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% include 'navbar.twig' with {'name': title} %}
        {% include 'langMenu.twig' with {'images': conf.images} %}
        <div class="page-header"><h1>{{ title | trans }}</h1></div>
        <form method="get" action="#">
            <input type="number" name="searchString" value="{{ name }}" /><input type="submit" value="{{ 'Search' | trans }}" />
        </form>
{% if result != "" %}
        <hr/>
        <div class="alert alert-success">
        <p><b>{{ result }}</b></p>
        </div>
{% endif %}
    {% include 'footer.twig' with {'conf': conf} %}
    </div>
</body>
</html>
