<!DOCTYPE html>
<html>
<head>
    <title>{{ title | trans }}</title>
    {% include 'headIncludes.twig' %}
</head>
<body>
    <div class="jumbotron">
      <div class="container">
        {% include 'navbar.twig' with {'name': title,'images': conf.images} %}
        <div class="page-header"><h1>{{ title | trans }}</h1></div>
        <p>{{ 'introductionNumbers' | trans }}</p>
      </div>
    </div>   
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <form id="numberForm" method="get" action="{{ app.request.baseUrl }}/numbers">
            <label for="searchString">{{ "Number" | trans }}</label>
            <div class="input-group">
                <input type="number" class="form-control" min="0" id="searchString" name="searchString" value="{{ name }}" />
                <span class="input-group-btn"><input type="submit" class="btn btn-primary"value="{{ 'Search' | trans }}" /></span>
            </div>
            </form>
            </div>
        </div>
        
        <hr/>
        <div id="result" class="alert alert-success" style="display:none;">
        </div>
    {% include 'footer.twig' with {'conf': conf} %}
    </div>
    {% include 'footIncludes.twig' %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#numberForm').submit(function() {

      var url = "{{ app.request.baseUrl }}/numbers";
    
      //alert($('#searchString').val());
      $.ajax({
           type: "GET",
           url: url,
           data: {
               "searchString": $('#searchString').val(),
               "format": "json"
           },
           success: function(data)
           {
               //alert(data.result); // show response from the php script.
               $('#result').empty().append('<p><b>' + data.result + '</b></p>').show();
           }
      });

      return false; // avoid to execute the actual submit of the form.
    });
  });
</script>

</body>
</html>
